name: Build and Push Docker Image

on:
  push:
    branches:
      - main
    # paths:
    #   - 'app/**'
    #   - 'Dockerfile'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Test step
        run: echo "Workflow is running!"
